html, body {
    background-color: #ffffff;
    margin: 0 0 0 0;
    height: 100%;
}

#container {
    width:100%;
}

#subcontainer {
    display: table;
}

#sidebar {
    width: 120px;
    display: table-cell;
}

#pagecontainer {
    width: 800px;
    display: table-cell;
    background-color: #FFFFFF;
    color: black;
    padding-left: 80px;
}

.css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
}